.Checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.5px;

  .Checkbox__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(234, 234, 234);
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    background-color: rgb(var(--pure-white));
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 2px;
  }
  
  .Checkbox__box.checked {
    background-color: rgb(var(--ocean-blue));
    border-color: rgb(var(--ocean-blue));
  }
  
  .Checkbox__box.checked::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    margin-bottom: 2px;
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 2px;
    transform: rotate(45deg);
  }
}

