* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

&:root {
  --rose-red: #C81059;     
  --ocean-blue: #0099C8;   
  --charcoal-gray: #2D2D2D;
  --light-gray: #F2F6F8;   
  --pure-white: #FFFFFF;   
}

h1 {
  font-size: clamp(25px, 1.1213rem + 2.2059vw, 40px);
  line-height: clamp(37.5px, -1.3051rem + 8.0882vw,60px);
  letter-spacing: 2%;
  color: #FFFFFF
}

h2 {
  font-size: clamp(20px, 0.9559rem + 1.4706vw, 40px);
  line-height: clamp(30px, 1.4338rem + 2.2059vw, 45px);
  letter-spacing: 2%;
}

h3 {
  font-size: clamp(18px, 0.8309rem + 1.4706vw, 28px);
  line-height: clamp(27px, 1.2463rem + 2.2059vw, 42px);
  letter-spacing: 2%;
}

h4 {
  font-size: clamp(16px, 0.8824rem + 0.5882vw, 20px);
  line-height: clamp(24px, 1.3235rem + 0.8824vw, 30px);
  letter-spacing: 2%;
}
h5 {
  font-size: clamp(14px, 0.8162rem + 0.2941vw, 16px);
  line-height: clamp(21px, 1.2243rem + 0.4412vw, 24px);
  letter-spacing: 2%;
}

button {
  font-size: clamp(12px, 0.6912rem + 0.2941vw, 14px);
  line-height: clamp(18px, 1.0368rem + 0.4412vw, 21px);
  letter-spacing: 2%;
}

li {
  font-size: clamp(13px, 0.7243rem + 0.4412vw, 16px);
  line-height: clamp(26px, 1.4485rem + 0.8824vw, 32px);
  letter-spacing: 2%;
}

p {
  font-size: clamp(12px, 0.7206rem + 0.1471vw, 13px);
  line-height: clamp(18px, 1.0809rem + 0.2206vw, 19.5px);
  letter-spacing: 2%;
}

small {
  font-size: clamp(10px, 0.5662rem + 0.2941vw, 12px);
  line-height: clamp(15px, 0.8493rem + 0.4412vw, 18px);
  letter-spacing: 2%;
}